<!-- 打赏 -->
<% if (theme.reward) { %>
<div class="article-entry">
    <br>
    <br>
    <hr>
    <hr>
        <ul>
          <li><p><i class="fa fa-credit-card"></i> <strong>打赏我</strong><br>  如果觉得我的博客、分享对您有帮助，请随意打赏。您的支持让我更有动力！</p>
          <p>  <a href="http://rocko-blog.qiniudn.com/zhifubao_weixin.jpg?imageView2/2/w/800/h/400/q/100" title="支付宝||微信" class="fancybox" rel="article0"><img src="http://rocko-blog.qiniudn.com/zhifubao_weixin.jpg?imageView2/2/w/700/h/300/q/100" alt="⇐支付宝||微信⇒"></a><span class="caption">⇐支付宝||微信⇒</span></p>
          </li>
        </ul>
    </div>

<% } %>